<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/employee-list.css}">
    <title>Employee list</title>
</head>
<body class="blue-theme">
<div class="container">
    <h1>Employee list</h1>
    <a th:href="@{/employees/new}">Create New Employee</a>
    <table class="employee-table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.name}">name</td>
            <td th:text="${employee.email}">email</td>
            <td>
                <a th:href="@{/employees/delete/{id}(id=${employee.id})}">Delete</a>
                <a th:href="@{/employees/edit/{id}(id=${employee.id})}">Update</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>