<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <title>Task list</title>
</head>
<body class="blue-theme">
<div class="container">
    <h1>Task list</h1>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
    <a th:href="@{/tasks/new}">Create new Task</a>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Assigned to</th>
            <th>Actions</th>
        </tr>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.title}">name</td>
            <td th:text="${task.description}">email</td>
            <td th:text="${task.status}">status</td>
            <td th:text="${task.employee.name}">employee</td>
            <td>
                <a th:href="@{/tasks/edit/{id}(id =${task.id})}">Edit</a>
                <a th:href="@{/tasks/delete/{id}(id =${task.id})}">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>